* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 50px;
  width: 200px;
}

.mt-80 {
  margin-top: 70px;
}

.home-Img {
  transition: .1s;
  
}

.home-Img:hover {
  transform: scale(1.09);
}

.img-tvshow {
  width: auto;
  padding: '5px 10px';
  cursor: 'pointer';
  transition: .5s;
}

.img-tvshow:hover {
  transform: scale(1.04);
}

.model-body {
  text-align: center;
  width: 60%;
  padding: 5px;

}

.scroll-btn:hover .scroll-button {
  background-color: #474242;
  opacity: 0.5;
  color: black;
}

.scroll-btn:hover .scroll-icon {
  color: white;
  opacity: 1;
  z-index: 100;
}

.footer-link {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #3b3bf3;
}


@media screen and (max-width:992px) {
  .tvshow-mod-img {
    width: auto;
    height: auto;
    padding: 5px;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .model-body {
    text-align: center;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
  }

  .tvshow-mod-img {
    height: 450px;
    width: 100%;
  }

  .slider-img {
    height: 500px;
  }

}

@media screen and (max-width:768px) {
  .tvshow-mod-img {
    width: auto;
    height: auto;
    padding: 5px;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .model-body {
    text-align: center;
    width: 100%;
    padding: 5px;
  }

  .tvshow-mod-img {
    height: 450px;
    width: 100%;
  }
  .slider-img {
    height: 500px;
    
  }
  .footer-img {
    height: auto;
    width: auto;
  }
}

@media screen and (max-width:600px) {
  .tvshow-mod-img {
    width: auto;
    height: auto;
    padding: 5px;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .model-body {
    text-align: center;
    width: 100%;
    padding: 5px;
  }

  .tvshow-mod-img {
    height: 350px;
    width: 100%;
  }

  .slider-img {
    height: 400px;
  }

  .img-tvshow {
    height: auto;
  }
}

@media screen and (max-width:400px) {
  .tvshow-mod-img {
    width: auto;
    height: auto;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .model-body {
    text-align: center;
    width: 100%;
  }

  .tvshow-mod-img {
    height: 350px;
    width: 100%;
  }

  .slider-img {
    height: 400px;
  }

  .img-tvshow {
    height: auto;
  }
}

.play-arrow {
  animation: arrow 4s infinite alternate linear;
}

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(15px);
    color: #f83030;
  }

  50% {
    transform: translateX(0px);
    color: #52da52;
  }

  75% {
    transform: translateX(15px);
    color: #392c2c;
  }

  100% {
    transform: translateX(0px);
    color: #f4f45f;
  }
}