* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-80 {
  margin-top: 70px;
}

.home-Img {
  transition: .3s;
  padding: 0px 3px;
}

.home-Img:hover {
  transform: scale(1.05);
}

.img-tvshow {
  width: 100%;
  padding: '5px 10px';
  cursor: 'pointer';
  transition: .5s;
}
.img-tvshow:hover {
  transform:scale(1,1.04);
}

.model-body {
  text-align: center;
  width: 60%;
  padding: 5px;
 
}

@media screen and (max-width:992px) {
  .tvshow-mod-img {
    width: 100%;
    height: 300px;
    padding: 5px;
  }

  .model-body {
    text-align: center;
    width: 60%;
    padding: 5px;
  }

  .slider-img {
    height: 350px;
  }
  .footer-img{
    height: 150px;
    width: 200px;
   }
}
@media screen and (max-width:768px) {
  .tvshow-mod-img {
    width: 100%;
    height: 300px;
    padding: 5px;
  }

  .model-body {
    text-align: center;
    width: 80%;
    padding: 5px;
  }
  .footer-img{
    height: 150px;
    width: 200px;
   }
}

@media screen and (max-width:600px) {
  .tvshow-mod-img {
    width: 100%;
    height: 300px;
    padding: 5px;
  }

  .model-body {
    text-align: center;
    width: 95%;
    padding: 5px;
  }

  .slider-img {
    height: 300px;
  }
  .img-tvshow {
   height: 300px;
  }
  .footer-img{
    height: 150px;
    width: 200px;
   }
}

@media screen and (max-width:400px) {
  .tvshow-mod-img {
    max-width: 100%;
    height: 300px;
  }

  .model-body {
    text-align: center;
    width: 98%;
  }

  .slider-img {
    height: 300px;
  }
  .img-tvshow {
    height: 300px;
   }
   .footer-img{
    height: 150px;
    width: 200px;
   }
}

.play-arrow {
  animation: arrow 4s infinite alternate linear;
}

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(15px);
    color: #f83030;
  }

  50% {
    transform: translateX(0px);
    color: #52da52;
  }

  75% {
    transform: translateX(15px);
    color: #392c2c;
  }

  100% {
    transform: translateX(0px);
    color: #f4f45f;
  }
}
